<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h1 th:text="#{list.heading}"></h1>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Vietnam</a>
<p>
    <a href="/create-customer"><span th:text="#{list.create}"></span></a>
</p>
<form>
    <span th:text="#{list.search}"></span>
    <input name="s" type="text"/>
    <input type="submit" th:value="#{list.search}"/>
</form>
<br/>
<table border="1px solid red" cellpadding="5px" cellspacing="0">
    <tr>
        <th th:text="#{list.firstname}"></th>
        <th th:text="#{list.lastname}"></th>
        <th th:text="#{list.province}"></th>
        <th th:text="#{list.edit}"></th>
        <th th:text="#{list.delete}"></th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/view-province/{id}(id=${customer.getProvince().getId()})}"><label
                    th:text="${customer.getProvince().getName()}"></label></a></td>
            <td><a th:href="@{/edit-customer/{id}(id=${customer.getId()})}">Edit</a></td>
            <td><a th:href="@{/delete-customer/{id}(id=${customer.getId()})}">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>

</body>
</html>