<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new province</title>
</head>
<body>
<h1>Create Province</h1>
<p>
    <a href="/provinces">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form th:action="@{/create-province}" method="post" th:object="${province}">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <th>Province:</th>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset" value="Reset"></td>
        </tr>
    </table>

</form>
</body>
</html>